*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores Personalizadas */
    --primary-color: #FE7C6E;
    --secondary-color: #F4C8E1;
    --tertinary-color: #B6EEDD;
    --quaternay-color: #C3E7F3;   
    --white-color: #FFFFFF;     
    --gray-color1: #7A858C;
    --gray-color2: #889198;          
    --black-color: #000000; 
}